:root[data-theme='light'] {
	--text: #221b11;
	--background: #f6f3ee;
	--primary: #473824;
	--secondary: #ddcfbb;
	--accent: #886c44;
}

:root[data-theme='dark'] {
	--text: #eee7dd;
	--background: #110e09;
	--primary: #dbccb8;
	--secondary: #443622;
	--accent: #bb9f77;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

html {
	color-scheme: dark light;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}
